# Java related
target/
*.jar
*.war
*.ear
*.class
*.log

# Maven related
.mvn/
mvnw
mvnw.cmd

# IDEs and editors
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# Azure Developer CLI
.azure/

# Docker
.docker/

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 